<form action="/genres" method="post">
    <label>Namn <input type="text" name="genre_name" value=<%= @genres["name"]%>> </label>
    <label>Beskrivning <input type="text" name="genre_description" value=<%= @genres["description"]%>> </label>

    <input type="submit" value="Spara">
</form>