<h2>Lägg till en ny genre här!</h2>

<form action="/genres" method="post">
    <label>Genrens namn: <input type="text" name="genre_name" placeholder="Namn..."> </label>
    <label>Beskrivning: <input type="text" name="genre_description"> </label>

    <input type="submit" value="Spara">
</form>
