<li><a href="/books">Dina böcker</a></li>
<li><a href="/books/new">Ny bok</a></li>
<li><a href="/genres">Dina genrer</a></li>
<li><a href="/users">Hitta andra användare</a></li>

<h2>Lägg till en ny genre här!</h2>

<form action="/genres" method="post">
    <label>Genrens namn: <input type="text" name="genre_name" placeholder="Namn..."> </label>
    <label>Beskrivning: <input type="text" name="genre_description"> </label>

    <input type="submit" value="Spara">
</form>
