<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BöckerSlurp</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <div id="login-info">
    <% if @current_user %>
      <span>Inloggad som: <%= @current_user['username'] %></span>
    <% else %>
      <span>Ej inloggad</span>
    <% end %>
  </div>

  <% if @current_user %>
    <form class="delete" action="/logout" method="post">
      <input type="submit" value="Logga ut">
    </form>

  <% end %>




  <%= yield %>
  <hr>
</body>
</html>
