<li><a href="/books">Dina böcker</a></li>
<li><a href="/books/new">Ny bok</a></li>
<li><a href="/genres">Dina genrer</a></li>
<li><a href="/users">Hitta andra användare</a></li>

<h2>Alla användare på hemsidan!</h2>

<ul>
    <% @users.each do |users|%>
    <li>
        <a href="/users/<%= users["id"]%>">
            <%= users["username"] %>
        </a>
    </li>

    <% end %>
</ul>