<h2>Registrera dig här!</h2>

<form action="/users/new" method="post">
    <label>Användarnamn: <input type="text" name="username"> </label>
    <label>Lösenord: <input type="text" name="password"> </label>

    <input type="submit" value="Registrera">
</form>